name: Deploy Serverless Infrastructure

on:
  push:
    branches:
      - main
      - dev

env:
  TF_VERSION: 1.5.7
  AWS_REGION: us-east-1

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # Checkout source code
      - name: Checkout repository
        uses: actions/checkout@v4

      # Setup Terraform
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ env.TF_VERSION }}

      # Configure AWS Credentials
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-session-token: ${{ secrets.AWS_SESSION_TOKEN }}
          aws-region: ${{ env.AWS_REGION }}

      #  Terraform Init
      - name: Terraform Init
        working-directory: terraform
        run: terraform init

      #  Terraform Plan
      - name: Terraform Plan
        working-directory: terraform
        run: |
          if [[ "${GITHUB_REF}" == "refs/heads/main" ]]; then
            terraform plan -var="env=prod" -var-file="prod.tfvars"
          else
            terraform plan -var="env=dev" -var-file="dev.tfvars"
          fi

      #  Terraform Apply
      - name: Terraform Apply
        working-directory: terraform
        run: |
          if [[ "${GITHUB_REF}" == "refs/heads/main" ]]; then
            terraform apply -auto-approve -var="env=prod" -var-file="prod.tfvars"
          else
            terraform apply -auto-approve -var="env=dev" -var-file="dev.tfvars"
          fi
